* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 0 160px;
  height: 64px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 24px;
}